main {
  background: mintcream;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* counter styles */
.counter-container {
  border-radius: 1rem;
  background: #ededef;
  padding: 2em;
  max-width: 125ch;
  aspect-ratio: 3 / 5;
  text-align: center;
}

.count-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.counter-display-container{
  margin-block: 2rem;
}

/* when negative numbers is on */
#counter-display {
  margin: 0;
  font-size: 3rem;
}

#saved {
  line-break: anywhere;
}

@media (prefers-color-scheme: dark){
  main{
    background: transparent;
  }
  .counter-container{
  background: #23232a;
  }
}